.contacto__form__btn {
    background: #f5f5f5;
    color: #008b8b;
    border: 2px solid #008b8b;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    width: 25%;
}

.contacto__form__btn:hover,
.contacto__form__btn:active {
    color: #fff;
    box-shadow: 0 4px 16px #eccd6a;
    border: 2px solid #fff;
    font-weight: 700;
}

.contacto__form__btn::after {
    content: "";
    background: #eccd6a; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .contacto__form__btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }