.contacto {
    padding: 64px 152px;
    background: #008b8b;
}

@media screen and (max-width: 1023px) {
    .contacto {
        padding: 32px;
    }
}

@media screen and (max-width: 767px) {
    .contacto {
        padding: 16px;
    }
}