.presentacion__txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 17px;
    width: fit-content;
}

@media screen and (max-width: 1023px) {
    .presentacion__txt {
        width: 75%;
    }
}

@media screen and (max-width: 1023px) {
    .presentacion__txt {
        width: 100%;
    }
}