.footer {
    display: flex;
    justify-content: center;
}

.footer__contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0 25px 0;
    font-size: 20px;
    font-weight: bolder;
    width: fit-content;
}

.footer a {
    color: #eccd6a;
    margin: 12px;
}

.footer a:hover {
    transform: translateY(-3px) scale(1.20);
}
