.header__logo {
    display: flex;
    align-items: center;
    width: 25vw;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 27vw;
    }
}

@media screen and (max-width: 486px) {
    .header__logo {
        width: 40vw;
    }
}