.skills-hobbies__formacion__contenedor__items__info {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 1023px) {
    .skills-hobbies__formacion__contenedor__items__info {
        font-size: 14px;
    }
}