.skills-hobies__formacion {
    background: #008b8b;
    padding: 82px;
}

@media screen and (max-width: 1023px) {
    .skills-hobies__formacion {
        padding: 32px
    }
}

@media screen and (max-width: 767px) {
    .skills-hobies__formacion {
        padding: 32px 16px;
      
    }
}