.skills-hobbies__formacion__contenedor__items__logo {
    border: 2px solid #fff;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 8px 0;
    padding: 70px 25px;
}

.skills-hobbies__formacion__contenedor__items__logo__img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .skills-hobbies__formacion__contenedor__items__logo {
        height: 200px;
    }

    .skills-hobbies__formacion__contenedor__items__logo__img {
        width: 70%;
        color: black;
    }
    
}

@media screen and (max-width: 479px) {
    .skills-hobbies__formacion__contenedor__items__logo {
        height: 150px;
        padding: 35px 12px;
    }

    .skills-hobbies__formacion__contenedor__items__logo__img {
        width: 70%;
    }
    
}