.proyectos__contenedor__item__img--a {
    width: 69%;
    margin-right: 16px;
}

.proyectos__contenedor__item__img--b {
    width: 69%;
    margin-left: 16px;
}

.proyectos__contenedor__item__img--a, .proyectos__contenedor__item__img--b {
    border: 3px solid #fff;
    padding: 15px;
}

@media screen and (max-width: 1023px) {
    .proyectos__contenedor__item__img--a, .proyectos__contenedor__item__img--b {
        margin: 0 0 16px 0;
        width: 86%;
    }
}