.proyectos {
    padding: 32px 152px;
}

@media screen and (max-width: 1023px) {
    .proyectos {
      padding: 32px;
    }
}

@media screen and (max-width: 767px) {
  .proyectos {
    padding: 16px;
  }
}